:root {
  --border-radius: 15px;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--surface-50) ;
  color: var(--text-color);
}

a:link, a:visited { 
  color: var(--text-color);
  text-decoration: none; 
}

a:hover {
  color: var(--primary-color);
}

/* * {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
} */

.container { margin-left: auto; margin-right: auto; }
@media only screen and (max-width: 500px) { .container { max-width: 100%; } }
@media only screen and (min-width: 700px) { .container { max-width: 80%; } }